<h2>{{ _("News") }}</h2>



<div class="row">
    <div class="span4">
        <header>
            <h3 class="dataset-heading">Europeiska dataportalen eLearning-program</h3>
            <p class="blog-post-meta muted">Den europeiska dataportalen har tagit fram ett eLearning-program om öppna
                data med 16 kortmoduler. Modulerna passar alla nivåer från nybörjare till experter.</p>
            <a href="https://www.europeandataportal.eu/elearning/en/#/id/co-01" class="btn btn-primary" target="_blank">Klicka här för att läsa vidare</a>
        </header>
    </div>
    <div class="span8">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Vbn_cUvAxhk" frameborder="0"
                allowfullscreen></iframe>
    </div>
</div>


