{% set last_theme_index = 0 %}
{% set row_layout = [5, 4, 4] %}
{% set categories = h.ap11theme_categories() %}

{% for row in row_layout %}
<div class="row">
    {% for category in categories[last_theme_index:(last_theme_index + row)] %}
    {% if category[0] %}
    <div class="span3">
        <div class="category text-center">
            <a href="{% url_for controller='package', action='search', ap11theme_category_label=category[1] %}">
                {% set img_url = h.ap11theme_key_in_category(category[0], 'img') %}
                {% if img_url %}
                <img alt="test" src="{% url_for_static img_url %}">
                {% endif %}
            </a>
            <div class="cat-caption">
                <p class="text-center">
                    <a href="{% url_for controller='package', action='search', ap11theme_category_label=category[1] %}">{{category[1]}}</a>
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% set last_theme_index = last_theme_index + row %}
</div>
{% endfor  %}