<div class="box tweets">
  <h3 class="heading">{{ _('Recent tweets') }}</h3>
  <div class="inner">
    <a class="twitter-timeline" data-dnt="true" data-chrome="noheader nofooter transparent" data-widget-id="906122767220830209" style="height:200px">
      <i class="icon-refresh icon-spin"></i> {{ _("Loading recent tweets") }}
    </a>
    <script src="//platform.twitter.com/widgets.js"></script>
  </div>
</div>
