{% ckan_extends %}

{% block primary_content %}
  <div role="main" class="hero">
    <div class="container">
      {% snippet 'home/snippets/search.html' %}
    </div>
  </div>
<style>
  /* Style information, move to separate css file to make more clean*/
  .colorblock {
    float:left;
    margin-top:4px;
    width: 46px;
    height:46px;
    margin-right: 20px;
  }
  .colorblock.orange {
    background: #ff8438;
  }
  .colorblock.blue {
    background: #59b5f8;
  }
  .colorblock.green {
    background: #5bcb95;
  }
  .colorPoints h2 {
    line-height: 50px;
  }
  .colorPoints {
    padding-left: 40px;
  }
</style>
  <div role="main" class="boxes">
    <div class="container">
      <div class="row colorPoints">
        <h2><div class="colorblock orange"></div>{{ _('How do I make my data visible on oppnadata.se') }}? {{ _('See our') }} <a href="https://sandbox.oppnadata.se/#view=faq">FAQ</a></h2>
        <h2><div class="colorblock blue"></div>{{ _('Register your data') }} - <a href="https://sandbox.oppnadata.se/">Sandbox</a></h2>
        <h2><div class="colorblock green"></div>{{ _('More about open data and PSI') }} - <a href="http://www.vidareutnyttjande.se/">Vidareutnyttjande.se</a></h2>
      </div>
    </div>
  </div>
  <div role="main" class="themes">
    <div class="container">
      {% snippet 'home/snippets/themes.html' %}
    </div>
  </div>
  <div role="main" class="boxes">
    <div class="container">
      <div class="row" data-module="homepage-cols">
        <div class="span4">
          {% snippet 'home/snippets/most_viewed.html' %}
        </div>
        <div class="span4">
          {% snippet 'home/snippets/recently_updated.html' %}
        </div>
        <div class="span4">
          {% snippet 'home/snippets/tweets.html' %}
        </div>
      </div>
    </div>
  </div>
  <div role="main" class="news">
    <div class="container">
      {% snippet 'home/snippets/ad.html' %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% resource 'theme/homepage' %}
{% endblock %}
