{% ckan_extends %}

{% block footer_content %}
  <nav class="footer-links">
    <ul class="unstyled">
      <li>
        <a href="{{ h.url_for(controller='home', action='about') }}">
          {{ _('About {0}').format(g.site_title) }}
        </a>
      </li>
      <li>
        <a href="mailto:vidareutnyttjande@riksarkivet.se">vidareutnyttjande@riksarkivet.se</a>
      </li>
      <li class="language">
        {% snippet "snippets/language_selector.html" %}
      </li>
    </ul>
  </nav>
{% endblock %}
